@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color:black;
     height: 100vh;   
}
nav{
    font-family: 'ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
    
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1rem;
}
.container{
    min-height: 75vh;
    background-color: #121212;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding:30px;
  background-image: url(../bg.jpg);
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 14px ;
  
}
.icone i{
    cursor: pointer;
margin-left:40px ;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top:74px;
}
.songItem{
    height :50px;
    display: flex;
    background-color:#121212 ;
    width: 80%;
    margin :12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}
.songItem img{
    width: 43px;
    margin:  0 23px ;
    border-radius: 34px;
}
.timeStamp{
    margin :0 23px;
    
}
.timeStamp i{
    cursor: pointer;
    padding-left: 15px;
}
.songInfo{
    position:absolute;
    left: 10vw;
    font-family: 'ubuntu', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}